<!DOCTYPE html>
<html lang="{{ page.language | default: site.language | default: "en" }}">
  {% include head.html %}
<body>

<header>
  <img src="/assets/images/dunders.png" alt="Logo do Training Center" width="40" height="40">

  <span>sobre o</span>
  <h1>{{ site.title }}</h1>

  <div>
    <p>Um projeto sem fins lucrativos com a premissa de ajudar desenvolvedores iniciantes ou não que tem dúvidas ou precisam de dicas para alavancar sua carreira ou só querem fazer bons amigos para criarem um projeto juntos.</p>
    <p>Aqui podemos fazer qualquer coisa e todos podem participar, independente do nível profissional!</p>
    <a href="#" target="_blank">Conheça mais</a>
  </div>

  {% include navigation-menu.html %}
</header>